<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
	<listeners>
		<listener class-name="listenerConcept.ListenersTestNG"></listener>
		
	</listeners>
  <test thread-count="5" name="Test">
    <classes>
      <class name="demo_NG.Testclass"/>
      <class name="demo_NG.Method_NewClass_Demo"/>
      <class name="demo_NG.Class_classNewTest"/>
      <class name="demo_NG.suiteclass"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
